[user]
	name = kapoko
	email = 17455539+kapoko@users.noreply.github.com
[pull]
	ff = only
[core]
	ignorecase = false
[init]
	defaultBranch = main
[status]
	submoduleSummary = true
[gpg]
	program = gpg
[commit]
	gpgsign = true
[alias]
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
