[user]
	name = kapoko
	email = 17455539+kapoko@users.noreply.github.com
	signingkey = E112891EA04578B6
[pull]
	ff = only
[core]
	ignorecase = false
[init]
	defaultBranch = main
[status]
	submoduleSummary = true
[gpg]
	program = gpg
[commit]
	gpgsign = true
